{% extends 'base_back.html.twig' %}

{% block title %}{{ type.name }}{% endblock %}

{% block body %}

<div class="d-flex justify-content-center align-items-center m-5 gap-5">
        <a href="{{ path('app_back_type_list') }}">
            <i class="bi bi-arrow-left-circle fs-2 title="Retour""></i>
        </a>
        <h1 class="text-white text-center m-0">{{ type.name }}</h1>
    </div>
    
    <div class="d-flex container gap-3 justify-content-center">
        <a href="{{ path('app_back_type_edit', {'id': type.id}) }}">
            <button class="btn text-primary"><i class="bi bi-pencil-fill" title="Modifier""></i></button>
        </a>
        {{ include('back/type/_delete_form.html.twig') }}
    
    </div>

    <table class="table-responsive mx-auto table-success text-center text-white align-middle my-3 col-10 col-md-6 col-lg-4" role="presentation">
        <tbody>
            <tr class="border-bottom">
                <th class="text-primary fs-6 fw-normal p-1">ID</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th class="text-primary fs-6 fw-normal p-1">NOM</th>
                <td>{{ type.name }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
