{% extends 'base_back.html.twig' %}

{% block title %}Nos marques
{% endblock %}

{% block body %}
	<h1 class="text-white text-center m-5">Nos marques</h1>
	<a class="btn btn-nav btn-success border-2 border-light d-flex justify-content-center text-white w-25 mb-3 mx-auto" href="{{ path('app_back_brand_new') }}">Nouvelle marque</a>
	<table class="table-responsive mx-auto p-2 col-lg-6 col-md-10 table-success text-center text-white" role="presentation">
		<thead>
			<tr>
				<th class="text-primary fs-5 p-1">ID</th>
				<th class="text-primary fs-5 p-1">NOM</th>
				<th class="text-primary fs-5 p-1">PAYS</th>
				<th class="text-primary fs-5 p-1"></th>
			</tr>
		</thead>
		<tbody>
			{% for brand in brands %}
				<tr>
					<td class="border-top">{{ brand.id }}</td>
					<td class="border-top">{{ brand.name }}</td>
					<td class="border-top">{{ brand.country }}</td>
					<td class="border-top">
						<div class="d-flex gap-1 p-0 flex-column flex-sm-row  justify-content-center">
							<a href="{{ path('app_back_brand_show', {'id': brand.id}) }}">
								<button class="btn text-primary"><i class="bi bi-eye-fill" title="Voir"></i></button>
							</a>
							<a href="{{ path('app_back_brand_edit', {'id': brand.id}) }}">
								<button class="btn text-primary"><i class="bi bi-pencil-fill" title="Modifier"></i></button>
							</a>
							{{ include('back/brand/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Pas de résultat</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% include 'front/_partials/_pagination.html.twig' with {
    target_route: app.request.attributes.get('_route'),
    target_params: app.request.query.all, 
	selectedPage, maxPageCount}
	 only %}

{% endblock %}
