<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="O’MyBeer, une appli dédiée à l'univers brassicole, propose une large sélection de bières et marques. Elle invite les amateurs à découvrir de nouveaux produits avec des infos détaillées.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}O'MyBeer !{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles-min.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon">
  </head>
  <body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-white" role="navigation">
            <div class="container-fluid gap-3">
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="d-inline-block align-top" href="{{ path('app_homepage')}}">
                    <img data-src="{{ asset('assets/img/logo.webp')}}" class="lazy" alt="Logo" height="60" width="60">
                </a>

                <div class="collapse navbar-collapse justify-content-lg-between flex-column flex-lg-row" id="navbarNavAltMarkup">
    
                        <div class="navbar-nav flex-column flex-lg-row align-items-center">
                            <a class="nav-link {% if app.current_route == 'app_homepage' %}active" aria-current="page" "{% endif %}" href="{{ path('app_homepage')}}">Accueil</a>
                            <a class="nav-link {% if app.current_route == 'app_beer_list' %}active" aria-current="page" "{% endif %}" href="{{ path('app_beer_list')}}">Bières</a>
                            <a class="nav-link {% if app.current_route == 'app_brand_list' %}active" aria-current="page" "{% endif %}" href="{{ path('app_brand_list')}}">Marques</a>
                        </div>
                        
                        <div class="d-flex flex-column flex-lg-row align-items-center">
                            <a class="btn btn-nav btn-primary text-white mb-2 mb-lg-0 me-lg-2" href="{{ path('app_favorite_list')}}">Favoris</a>
                            <a class="btn btn-nav btn-primary text-white mb-2 mb-lg-0 ms-lg-2" role="button" href="{{ path('app_test_list')}}">A tester</a>
                        </div>
                    
                        <!-- search bar and account icon appear on md sm xs screens -->
                        <form class="d-flex d-lg-none d-xl-none justify-content-center" action="{{ path('app_homepage_search') }}">
                            <input class="form-control  me-2 w-50 w-md-25 bg-white" type="search" name="recherche" placeholder="Rechercher une bière" aria-label="Search">
                            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search" title="Rechercher une bière"></i></button>
                        </form>

                        <!-- account link, login and logout -->
                        {% if is_granted('ROLE_USER')%}
                        <a class="nav-link d-flex d-lg-none d-xl-none justify-content-center" href="{{ path('app_user_account')}}">
                            <i class="bi bi-person-circle icon-black" title="mon compte" style="font-size: 1.5em;"></i>
                            <p class="d-lg-none d-xl-none ms-2 mt-2">Mon Compte</p>
                        </a>
                        <a class="nav-link d-flex d-lg-none d-xl-none justify-content-center" href="{{ path('app_user_logout')}}">Déconnexion
                        </a>
                        {% else %}
                        <a class="nav-link d-flex d-lg-none d-xl-none justify-content-center" href="{{ path('app_user_connexion')}}">
                            <i class="bi bi-person-circle icon-black" title="mon compte" style="font-size: 1.5em;"></i>
                            <p class="d-lg-none d-xl-none ms-2 mt-2">Connexion</p>
                        </a>
                        {% endif %}
                        
                </div>

                <!-- search dropdown and account icon appear only on lg and xl screens -->
                <div class="d-none d-lg-block d-xl-block dropdown d-flex justify-content-end ms-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="searchDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-search" title="rechercher une bière"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end bg-white  mt-3" aria-labelledby="searchDropdown" style="width: 300px">
                        <li>
                            <form class="d-flex px-2" action="{{ path('app_homepage_search') }}">
                                <input class="form-control me-2 bg-white " type="search" name="recherche" placeholder="Rechercher une bière" aria-label="Search">
                                <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>

                <!-- account link, login and logout -->
                {# todo refacto ternaire ? #}
                <div class="d-none d-lg-block d-xl-block dropdown d-flex justify-content-end ms-2">
                    {% if is_granted('ROLE_USER')%}
                    <a class="nav-link dropdown-toggle" href="{{ path('app_user_account')}}" role="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle icon-black" title="mon compte" style="font-size: 1.5em;"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end bg-white " aria-labelledby="accountDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_user_account')}}">Mon compte</a></li>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_user_logout')}}">Déconnexion</a></li>
                        </li>
                    </ul>
                    {% else %}
                    <a class="nav-link dropdown-toggle" href="{{ path('app_user_connexion')}}" role="button" id="loginDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle icon-black " title="mon compte" style="font-size: 1.5em;"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end bg-white" aria-labelledby="loginDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_user_connexion')}}">Connexion</a></li>
                        </li>
                    </ul>
                    {% endif %}

                </div>

                {% if is_granted('ROLE_ADMIN')%}
                <div class="d-flex flex-column flex-lg-row align-items-center">
                    <a class="btn btn-nav btn-secondary text-white mb-2 mb-lg-0 me-lg-2 ms-2" href="{{ path('app_back_homepage')}}">Backoffice</a>
                </div>
                {% endif %}
                

            </div>
        </nav>
        
        {# display flash messages #}
        {% for label, messages in app.flashes %}
		{% for message in messages %}
		<div class="alert alert-{{label}} mx-auto col-10 col-md-6 alert-dismissible fade show text-center" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
		{% endfor %}

        {# Modal - PopUp #}
        <div class="modal d-none w-100 h-100 d-flex align-items-center justify-content-center position-fixed top-0 start-0 bg-dark bg-opacity-75 z-4 border-0 " role="dialog">
            <div class="modal-dialog  d-flex align-items-center text-center bg-body rounded border-0">
                <div class="modal-content m-3 border-0">
                    <div class="modal-header d-flex justify-content-center border-0">
                        <img data-src="{{ asset('assets/img/logo.webp')}}" class="lazy" alt="Logo" height="100" width="100">
                    </div>
                    <div class="modal-body mt-3">
                        <p>Petit rappel : l'abus d'alcool peut être aussi risqué que de danser sur une corde raide en talons hauts. Alors, pour éviter de transformer votre soirée en numéro de cirque, gardez votre consommation sous contrôle. Et ne consommez que si vous avez + de 18 ans.</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center border-0">
                        <button type="button" id="close-modal" class="btn btn-secondary m-3" data-bs-dismiss="modal">Oui chef !</button>
                    </div>
                </div>
            </div>
        </div>

    </header>

    {% block body %}{% endblock %}

    <footer class="footer mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center pt-3">
                    <img data-src="{{ asset('assets/img/logo.webp')}}" class="lazy" alt="logo" height="100" width="100">
                    <p>Découvrez une sélection exclusive de bières artisanales et internationales sur O’MyBeer. Explorez des marques uniques, plongez dans l'univers de la bière et trouvez votre nouvelle boisson préférée. Avec des informations détaillées et une expérience immersive, notre application vous accompagne dans votre voyage gustatif. Que vous soyez amateur, professionnel ou passionné, vous êtes les bienvenus! Cheers!</p>
                    <p class="menu mb-1">
                        <a href="{{ path('app_homepage')}}" title="Accueil">Accueil</a>
                        <a href="{{ path('app_beer_list')}}" title="Bières">Bières</a>
                        <a href="{{ path('app_brand_list')}}" title="Marques">Marques</a>
                        <a href="{{ path('app_about')}}" title="A propos de nous">À propos</a>
                        <a href="{{ path('app_contact')}}" title="Nous contacter">Nous Contacter</a>
                        <a href="{{ path('app_legal_notice')}}" title="Mentions légales">Mentions légales</a>
                    </p>

                    <ul class="footer-social">
                        <li><a href="#" title="Twitter"><img data-src="{{ asset('assets/img/twitter.webp')}}" class="lazy" height="18" width="18" alt="logo twitter"></a>
                        </li>
                        <li><a href="#" title="Facebook"> <i class="bi bi-facebook text-white"></i></a>
                        </li>
                        <li><a href="#" title="Instagram"><i class="bi bi-instagram text-white"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 text-center">
                    <p class="m-0">
                    L'abus d'alcool est dangereux pour la santé, à consommer avec modération.
                    </p>
                    <p>
                        Fait avec passion et houblon 🍺 par O'MyBeer !
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous" defer></script> 
    {% block javascripts %}
     <script src="{{ asset('assets/js/app-min.js') }}" type="module" defer></script>
    {% endblock %}


  </body>
</html>
